<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <%= csrf_meta_tag %>
</head>
<body ng-app="VirtualDrawer" style="background-color:#FF9900" ng-cloak>

<!--<section layout="row">-->

<div class="container-fluid">

  <div class="row" style="height:100%;" ng-controller="MainController">
    <div class="col-lg-3" style="padding:0px">
      <div style="height:100%"><%= render 'partials/sidenav'%></div>
    </div>

    <div class="col-lg-9 big-container" ng-controller="TagController" ng-cloak>
          <!--<label>Search:-->
            <!--<input ng-model="searchTag">-->
          <!--</label>-->
          <div ng-repeat="tag in tags"
                class="col-lg-2 tag-container"
                ng-mouseenter="showButtonsForTag(tag.id)"
                ng-mouseleave="showButtonsForTag(-1)">
            <div ng-click="tagAction(tag)"
                  id="tag_{{tag.id}}">
            </div>
            <button class="delete-button btn btn-default glyphicon glyphicon-edit" ng-show="editButtonIsVisible(tag.id)" 
                ng-click="toggleEditTag(tag)">Edit</button>
          </div>

      <!-- Trigger the modal with a button -->
      <div id="new_tag_button" class="tag-container col-lg-2" style="border-style:dashed; border-color:blue;" data-target="#new_tag_modal"></div>


      <!-- Modal -->
      <div id="new_tag_modal" new-tag-modal class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New tag</h4>
            </div>
            <div class="modal-body">
              <label>Tag name:</label>
              <input type="text", ng-model="newTagName">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="createNewTagAndUploadFile()">Create & Upload</button>
            </div>
          </div>

        </div>
      </div>

      <!-- Modal -->
      <div id="edit_tag_modal" edit-tag-modal class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit tag (old: {{oldNameOfCurrentEditingTag}})</h4>
            </div>
            <div class="modal-body">
              <label>New name:</label>
              <input type="text", ng-model="currentEditingTag.name">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" style="float:left" ng-click="currentEditingTag.deleteSelf()">Delete tag</button>
              <button type="button" class="btn btn-default" ng-click="currentEditingTag.updateSelf()">Apply</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<!--</section>-->
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
