<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Angular Material requires Angular.js Libraries -->

</head>
<body ng-app="VirtualDrawer" style="background-color:#F5FFD3" ng-cloak>

<!--<section layout="row">-->

<div class="row" style="overflow:auto; height:100%" ng-controller="MainController">
  <div class="col-sm-3" style="height:100%"><%= render 'partials/sidenav'%></div>
  <div ng-controller="ItemsController" class="col-lg-9 big-container" ng-cloak>
    <div ng-repeat="item in items track by $index"
        ng-mouseenter="showButtonsForItem(item.id)"
        ng-mouseleave="showButtonsForItem(-1)"
        class="col-lg-2 item-container">

        <div ng-click="itemAction(item)" class="item" style="background-color:blue">
            <p ng-if="item.item_type == 'file'">
              {{item.name}}
            </p>
            
            <div ng-if="item.item_type == 'note'">
              <div class="item-title">{{item.name}}</div>
              <pre class="item-details">{{item.details}}</pre>
            </div>
        </div>
        <button class="delete-button" ng-show="editButtonIsVisible(item.id)" 
          ng-click="toggleEditItem(item)">Edit</button>
    </div>

    <div id="edit_file_modal" edit-file-modal class="modal fade" role="dialog" >
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit file:</h4>
          </div>
          <div class="modal-body">
            <label>File name:</label>
            <input type="text", ng-model="itemToEdit.name">
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger float-left" ng-click="deleteItem(itemToEdit.id)">Delete</button>
            <button type="button" class="btn btn-default" ng-click="editFile()">Apply</button>
          </div>
        </div>

      </div>
    </div>

    <div id="edit_note_modal" edit-note-modal class="modal fade" role="dialog" >
      <div class="modal-dialog" ng-controller="NotesController as noteCtrl">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit note:</h4>
          </div>
          <div class="modal-body">
            <label>Note title:</label>
            <input type="text", ng-model="note.name">
            <br>
            <label>Note itself:</label>
            <br>
            <textarea rows="5" cols="50" ng-model="note.details"></textarea>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger float-left" ng-click="deleteItem(note.id)">Delete</button>
            <button type="button" class="btn btn-default" ng-click="editNote()">Apply</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!--</section>-->
</body>
</html>