.side-button {
    height: 40px;
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
    color: white;
    background-color: #FFDE00;
    font-size: 20px;
    border:none;
}

.side-button:hover, .tag:hover, .item:hover {
    border: 3px solid;
}

.tag {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color:#6599FF;
}

.new-tag {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-color: #6599FF;
    color: white;
}

.tag-container {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 60px;
    text-align: center;
 }

.editable-tag-container {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 60px;
    text-align: center;
    border-style: dashed; 
    border-color: white;
    opacity: 0.7;
}

.item {
    height: 150px;
    width:150px;
    padding-left:5px;
    padding-right:5px;
    text-align: center;
    color: white;
    display: table; 
    background-color: #6599FF;
}

.item p {
  font-weight:bold;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
}

.item-container {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.item-title {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:bold;
}

.item-details{
    font-style:italic;
    width: 150px;
    height: 120px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    position: absolute;
    bottom: -25px;
    right: 10px;
    z-index: 10;
}

.big-container {
    background-color:#FF9900;
    margin-top:20px
}

.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.md-theme-indigo {
    background-color: #097054 !important;
}
.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }

html{
  height: 100%;
}
body {
  min-height: 100%;
}